<div class="jumbotron">
<h1>QUOTES</h1>
<P>How you feel,written down for you.</P>
</div>
<app-quote-form (emitQuote)="addQuote($event)"></app-quote-form>
<ul>
  <div  *ngFor='let quote of quotes; let i=index'>
   <li>{{quote.quote}}</li>
   <button (click)=showDetails(i)>DETAILS</button>
   <app-quote-details [quote]='quote'></app-quote-details>
     <button (click)="upVote(i)">UPVOTE</button>
     <button (click)="downVote(i)">DOWNVOTE</button>
     <button (click)="deleteQuote(i)">DELETE</button>

  </div>
</ul>

